<html lang="en">
	<head>

	</head>
	<div id="background">
		<div id="background-sky">
			<div id="background-stars">
				<div class="background-star" style="left:  5%; top: 55%; transform: scale( 2 );"></div>
				<div class="background-star" style="left:  7%; top:  5%; transform: scale( 2 );"></div>
				<div class="background-star" style="left: 10%; top: 45%; transform: scale( 1 );"></div>
				<div class="background-star" style="left: 12%; top: 35%; transform: scale( 1 );"></div>
				<div class="background-star" style="left: 15%; top: 39%; transform: scale( 1 );"></div>
				<div class="background-star" style="left: 20%; top: 10%; transform: scale( 1 );"></div>
				<div class="background-star" style="left: 35%; top: 50%; transform: scale( 2 );"></div>
				<div class="background-star" style="left: 40%; top: 16%; transform: scale( 2 );"></div>
				<div class="background-star" style="left: 43%; top: 28%; transform: scale( 1 );"></div>
				<div class="background-star" style="left: 45%; top: 30%; transform: scale( 3 );"></div>
				<div class="background-star" style="left: 55%; top: 18%; transform: scale( 1 );"></div>
				<div class="background-star" style="left: 60%; top: 23%; transform: scale( 1 );"></div>
				<div class="background-star" style="left: 62%; top: 44%; transform: scale( 2 );"></div>
				<div class="background-star" style="left: 67%; top: 27%; transform: scale( 1 );"></div>
				<div class="background-star" style="left: 75%; top: 10%; transform: scale( 2 );"></div>
				<div class="background-star" style="left: 80%; top: 25%; transform: scale( 1 );"></div>
				<div class="background-star" style="left: 83%; top: 57%; transform: scale( 1 );"></div>
				<div class="background-star" style="left: 90%; top: 29%; transform: scale( 2 );"></div>
				<div class="background-star" style="left: 95%; top:  5%; transform: scale( 1 );"></div>
				<div class="background-star" style="left: 96%; top: 72%; transform: scale( 1 );"></div>
				<div class="background-star" style="left: 98%; top: 70%; transform: scale( 3 );"></div>
			</div>
			<div id="background-sunWrap">
				<div id="background-sun"></div>
			</div>
			<div id="background-mountains">
				<div id="background-mountains-left" class="background-mountain"></div>
				<div id="background-mountains-right" class="background-mountain"></div>
			</div>
		</div>
		<div id="background-ground">
			<div id="background-linesWrap">
				<div id="background-lines">
					<div id="background-vlines">
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
						<div class="background-vline"></div>
					</div>
					<div id="background-hlines">
						<div class="background-hline"></div>
						<div class="background-hline"></div>
						<div class="background-hline"></div>
						<div class="background-hline"></div>
						<div class="background-hline"></div>
						<div class="background-hline"></div>
						<div class="background-hline"></div>
						<div class="background-hline"></div>
					</div>
				</div>
			</div>
			<div id="background-groundShadow"></div>
		</div>
	<div>
	<body>
		<slot />
	</body>

</html>
<style>

#background {
	position: relative;
	overflow: hidden;
	height: 100%;
	color: #a3c;
	background-color: #000;
}

#background-sky {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	top: 0;
	width: 100%;
	height: 55%;
	background: linear-gradient( #214 75%, #249 );
}

#background-sunWrap {
	position: relative;
	width: 40%;
	margin-bottom: -15%;
}
#background-sun {
	--glow-color: #d44;
	padding-top: 100%;
	border-radius: 50%;
	background-image: linear-gradient( #fcdf11, #ff623f, #fe2085 50% );
	box-shadow: 0 0 160px 80px var( --glow-color );
	animation: 2s ease infinite alternate background-sun-glow-anim;
}
.background-shutdown #background-sun {
	background-image: linear-gradient( #000, #000 40% );
	--glow-color: #000;
}
@keyframes background-sun-glow-anim {
	from { box-shadow: 0 0 160px 80px var( --glow-color ); }
	to   { box-shadow: 0 0 200px 95px var( --glow-color ); }
}

#background-stars {
	position: absolute;
	width: 100%;
	height: 100%;
}
.background-star {
	position: absolute;
	border-radius: 50%;
	width: 2px;
	height: 2px;
	background-color: #fff;
}

#background-mountains {
	position: absolute;
	width: 100%;
	height: 30%;
}
.background-mountain {
	position: absolute;
	width: 30%;
	height: 100%;
	background-image: linear-gradient( #000 70%, #111 85%, #fff1 );
}
#background-mountains-left { left: 0; clip-path: polygon( 0% 100%,0% 55%,5% 60%,10% 55%,20% 50%,25% 42%,30% 38%,33% 35%,40% 45%,50% 50%,60% 70%,70% 85%,75% 82%,80% 91%,85% 90%,90% 95%,95% 98%,100% 100% ); }
#background-mountains-right { right: 0; clip-path: polygon( 0% 100%,5% 95%,10% 85%,15% 87%,20% 80%,25% 78%,30% 65%,40% 70%,50% 57%,60% 53%,67% 68%,70% 70%,75% 66%,80% 55%,90% 50%,95% 60%,100% 57%,100% 100% ); }

#background-cityWrap {
	position: absolute;
	width: 50%;
	margin-left: -1%;
}
#background-city {
	padding-top: 20%;
}
.background-building {
	position: absolute;
	width: 5%;
	height: 100%;
	bottom: 0;
	border-radius: 4px 4px 0 0;
	background-image: linear-gradient( 0deg, rgba( 17, 17, 34, 0 ), #112 30px, #000 );
}
.background-building:nth-child( odd ) {
	background-image: linear-gradient( 0deg, rgba( 24, 24, 42, 0 ), #223 30px, #000 );
}
.background-antenna::after {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: calc( -1px - 5% );
	bottom: 100%;
	width: 10%;
	min-width: 2px;
	height: 33%;
	background-color: #000;
}

#background-ground {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 45%;
	bottom: 0;
	border-top: 2px solid #bf578c;
	background-color: #000;
}
.background-shutdown #background-ground {
	border-color: #000;
}
#background-groundShadow {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient( #000 0%, transparent );
}

#background-linesWrap {
	height: 100%;
	perspective: 1000px;
	perspective-origin: center top;
}
#background-lines {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: top center;
	animation: .35s linear infinite background-lines-anim;
}
.background-shutdown #background-lines {
	animation-duration: 5s;
}
@keyframes background-lines-anim {
	from { transform: rotateX( 85deg ) translateY( 0 ); }
	to { transform: rotateX( 85deg ) translateY( 100px ); }
}
#background-hlines,
#background-vlines {
	position: absolute;
	left: calc( ( 900% - 100% ) / -2 );
	width: 900%;
	height: 500%;
}
#background-vlines {
	display: flex;
	justify-content: center;
}
.background-hline,
.background-vline {
	width: 100%;
	height: 100%;
	background-color: currentColor;
}
.background-hline { height: 3px; }
.background-vline { width: 3px; }
.background-hline + .background-hline { margin-top: 98px; }
.background-vline + .background-vline { margin-left: 48px; }

</style>