<footer class="bg-dark text-center text-white">
    <div class="divider bg-primary" style="height: 50px;">
        footer
    </div>
</footer>
<style>
    footer {
        background-color: #9c9393;
        z-index: 9999;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
</style>
