<header class="bg-dark text-center text-white">
    <div class="divider bg-primary " style="height: 50px;">
        header
    </div>
</header>
<style>
header {
    padding: 0;
    margin: 0;
    background-color: #1f1f1f;
    z-index: 9999;
}
</style>