---
interface Props {
	text: string;
}

const { text } = Astro.props;
---

<button>{text}
		
</button>

<style>
	button {

        background: silver;
        box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
        border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: transparent;
  min-height: 23px;
  min-width: 75px;
  padding: 0 12px;
  text-shadow: 0 0 #222;
    }
</style>
