---
interface Props {}

const {} = Astro.props;
---

<div class="window">
    <div class="link-card">
        <div class="top-row">
            <div class="window-title">EETU KARTTUNEN</div>
            <button class="close-button">X</button>
        </div>
        <hr>
        <div class="bottom-row">
            <a href="#" class="win-button">Back</a>
            <a href="#" class="win-button">Next</a>
            <a href="https://www.linkedin.com/in/eetukarttunen/" target="_blank" class="win-button seperate-button">LinkedIn</a>
        </div>
    </div>
</div>
<style>
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1); 
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.window {
    height: 575px;
}

.link-card {
    background: silver;
    box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #dfdfdf,
        inset -2px -2px grey,
        inset 2px 2px #fff;
    height: 575px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1px;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.seperate-button {
    margin-left: 20px;
}

.top-row {
    height: 40px;
    background: linear-gradient(to right, #000084 55%, #8492ff 100%);
    margin: 2px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    color: white;
    font-family: 'MS Sans Serif', sans-serif;
    font-size: 14px;
    user-select: none;
}

.window-title {
    font-weight: 600;
    font-family: 'MS Sans Serif', sans-serif;
}

.bottom-row {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
    margin: 2px;
}

.close-button {
    background: silver;
    box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #fff,
        inset -2px -2px grey,
        inset 2px 2px #dfdfdf;
    font-family: 'MS Sans Serif', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-align: center;
   
    cursor: pointer;
    box-sizing: border-box;
    color: transparent;
    min-height: 25px;
    min-width: 25px;
    text-shadow: 0 0 #222;
    margin: 2px;
}

/* Common styles for buttons and links */
.win-button, .win-button:link, .win-button:visited {
    display: inline-block; /* To mimic button styling */
    text-decoration: none; /* Remove underline */
    cursor: pointer;
    background: silver;
    box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #fff,
        inset -2px -2px grey,
        inset 2px 2px #dfdfdf;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: black; /* Visible text color */
    font-family: 'MS Sans Serif', sans-serif;
    font-size: 12px;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
    text-align: center;
    line-height: 23px; /* Vertically align text */
    margin-right: 5px;
    text-shadow: 0 0 #222;
}

.win-button:hover {
    background: #dfdfdf; /* Hover effect */
}

.win-button:active {
    box-shadow:
        inset 2px 2px #0a0a0a,
        inset -1px -1px #fff,
        inset 1px 1px grey,
        inset -2px -2px #dfdfdf;
    background: #848484;
}
</style>
