---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const { content } = Astro.props;
---

<html lang="en">
	<head>

	</head>
	
	<body>
		<slot />
	</body>

</html>
<style>
	@font-face {
  font-family: 'Pixelated MS Sans Serif';
  font-style: normal;
  font-weight: 400;
  src: url('https://unpkg.com/98.css@0.1.20/dist/ms_sans_serif.woff') format('woff');
  src: url('https://unpkg.com/98.css@0.1.20/dist/ms_sans_serif.woff2') format('woff2');
}
	body {
		height: 100%;
		margin: 0;
		
		
	}
	
</style>